:root {
    --color1: #DFC7ED;
    --color2: #C7EDD9;
    --color3: #A19887;
    --color4: #ECE7DE;
    --color5: #9A8FA1;
}

body {
    background-color: var(--color1);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#title {
    align-items: center;
    background-color: var(--color2);
    border: 3px solid black;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

div {
    background-color: var(--color4);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    border: 3px solid black;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}