:root {
    --color1: #DFC7ED;
    --color2: #C7EDD9;
    --color3: #A19887;
    --color4: #ECE7DE;
    --color5: #9A8FA1;
}

body {
    background-color: var(--color1);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#header {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--color2);
    box-shadow: 5px 5px 5px gray;
    border: 3px solid black;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    padding-bottom: 30px;
}

#foot {
    background-color: var(--color2);
    height: 100px;
    width: auto;
}

img {
    max-width: 450px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    border: 3px solid black;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

div {
    background-color: var(--color4);
    box-shadow: 5px 5px 5px gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}